<h1><%= trainer.name %></h1>

<form action="/trainers/<%=trainer.id%>?_method=PUT" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= trainer.name %>" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>