<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Trainers</title>
</head>
<body>
    <h1>All Trainers</h1>
    <% trainers.forEach(trainer =>{ %> 
        <li>
            <a href="/trainers/<%= trainer.id %>"><%= trainer.name %></a>
        </li>
    <% }) %>

    <a href="/trainers/new">New Trainer</a>
</body>
</html>